<div class="container">
<h2>Welcome user: {{username}}</h2>
<br>
<table>
     <tr>
        <td>
           <div>
             <button class="btn btn-danger" 
                     (click)="createCoupon()">Create a Coupon</button>
           </div>
        </td>
        <td>
            <div>
             <button class="btn btn-primary" 
                     (click)="showMyCoupons()">Show my coupns</button>
            </div>
        </td>
        <td>
                <div>
                 <button class="btn btn-secondary" 
                         (click)="showMyPerfil()">Show my Perfil</button>
                </div>
            </td>
        </tr>
</table>
</div>
<br>
<div class="container">
        <img>
    </div>
<br>