<div class="container">
    <h2>Welcome Admin</h2>
    <br>
    <table>
         <tr>
            <td>
               <div>
                 <button class="btn btn-danger" 
                         (click)="onShowAllCoupons()">Show All Coupons</button>
               </div>
            </td>
            <td>
                <div>
                 <button class="btn btn-primary" 
                         (click)="onShowAllCustomers()">Show All Customers</button>
                </div>
            </td>
            <td>
                    <div>
                     <button class="btn btn-secondary" 
                             (click)="onShowAllCompanies()">Show All Companies</button>
                    </div>
                </td>
            </tr>
    </table>
    </div>
    <br>
    <div class="container">
            <img>
        </div>
    <br>
