<app-header></app-header>
<br>
<div class="container">
    <h2>Welcome user: {{username}}</h2>
    <br>
    <table>
         <tr>
            <td>
               <div>
                 <button class="btn btn-danger" 
                         (click)="onToCouponsStore()">Show The Coupons Store</button>
               </div>
            </td>
            <td>
                <div>
                 <button class="btn btn-primary" 
                         (click)="onToMyCoupons()">Show My Coupons</button>
                </div>
            </td>
            <td>
                    <div>
                     <button class="btn btn-secondary" 
                             (click)="onProfile()">Show My Profile</button>
                    </div>
                </td>
            </tr>
    </table>
    </div>
    <br>
    <div class="container">
            <img>
        </div>
    <br>

