    <div class="company">
    <div class="container">
        <h3>Company Logo</h3>
    </div>
        <div class="container" style="background-color:white">
            <br>
            <br>
            <h2>Id:{{company.id}}</h2>
        <h2><b>{{company.name}}</b></h2>
        <p>{{company.email}} </p>
    </div>
    <br>
    <table>
        <tr>
            <td>
                <div>
                    <div class="row">
                        <div class="col-12">
                            <div>
                                <button type="button" class="btn btn-primary"
                                        (click)="onEditCompany()">Edit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
            <td>
                <div>
                    <div>
                        <div class="row">
                            <div class="col-12">
                                <div>
                                    <button type="button" class="btn btn-secondary"
                                        (click)="onCancelCompany()">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
            <td>
                <div>
                    <div>
                        <div class="row">
                            <div class="col-12">
                                <div>
                                    <button type="button" class="btn btn-danger"
                                        (click)="onDeleteCompany()">Delete</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>
